<!DOCTYPE html>
<html>
  <head>
    <title>RunnR</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyApIfSmh05sKYDsD506WRgLPeQihGFVLyI&amp;sensor=false&amp;libraries=geometry" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">



  </head>

  <body>

    <%= yield %>
  </body>
</html>
