<!DOCTYPE html>
<html>
  <head>
    <title>RunnR</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyApIfSmh05sKYDsD506WRgLPeQihGFVLyI&amp;sensor=false&amp;libraries=geometry" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">



  </head>

  <body>

    <%= yield %>
  </body>
</html>
